body{
    text-align: center;
    background: lightgrey;
}

.container{
    display: block;
    width: 100%;
    padding: 0;
}

.children{
    display: inline-block;
    width: 220px;
    height: 380px;
    background: linear-gradient(to bottom, #8360c3, #2ebf91);
    margin: 10px;
    border-radius: 20px;
    box-shadow: 1px 1px 20px black;
}

#result, #results, #results1, #results2, #results3, #results4,
#results5, #results6, #results7, #results8, #results9{
    color: black;
    display: inline-block;
    color: white;
    font-family: sans-serif;
    font-size: 12px;
    margin-top: 250px;
}
 h2{
     font-size: 20px;
 }

